* { margin: 0; 
	padding: 0; 
}

body{
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
}

p { 
	font-size: 100%; 
	text-align: justify;
}

h1 { 
	font-size: 200%; 
	font-weight: 400;
	border-bottom: 1px solid;
	margin-bottom: 1%;
}

h2 { 
	font-size: 150%; 
	font-weight: 200;
}

#wrapper {
	max-height: 100%;
	width: 23%;
	margin: 0 auto;

}

#logo {
	display: block;

	width: 100%;

	margin-left: auto;
	margin-right: auto;
}

#textContent {
	display: block;
	
	width: 90%;
	padding-left: 4%;

	overflow-x: hidden;

	margin-left: auto;
	margin-right: auto;

	margin-top: 2%;
	padding-right: 5px;

}

::-webkit-scrollbar
{
  width: 6px;  /* for vertical scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-device-width: 768px) {
	p { font-size: 150%; }
	h1 { font-size: 175%; }

	#wrapper {
		width: 90%;
		margin: 0 auto;
	}
}